<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<style>
		*{
			box-sizing:border-box;
		}
		table{
			width: 100%;
			border: 1px solid #ccc;
		}
		td{
			border: 1px solid #ccc
		}

	</style>
</head>
<body>
	<table>
		<tr>
			<td>html文档</td>
			<td>html文档</td>
			<td>html文档</td>
			<td>html文档</td>
			<td>html文档</td>
			<td>html文档</td>
			<td>html文档</td>
			<td>html文档</td>
			<td>html文档</td>
		</tr>
		<tr>
			<td>html文档</td>
			<td>html文档</td>
			<td>html文档</td>
			<td>html文档</td>
			<td>html文档</td>
			<td>html文档</td>
			<td>html文档</td>
			<td>html文档</td>
			<td>html文档</td>
		</tr>
		<tr>
			<td>html文档</td>
			<td>html文档</td>
			<td>html文档</td>
			<td>html文档</td>
			<td>html文档</td>
			<td>html文档</td>
			<td>html文档</td>
			<td>html文档</td>
			<td>html文档</td>
		</tr>
		<tr>
			<td>html文档</td>
			<td>html文档</td>
			<td>html文档</td>
			<td>html文档</td>
			<td>html文档</td>
			<td>html文档</td>
			<td>html文档</td>
			<td>html文档</td>
			<td>html文档</td>
		</tr>
		<tr>
			<td>html文档</td>
			<td>html文档</td>
			<td>html文档</td>
			<td>html文档</td>
			<td>html文档</td>
			<td>html文档</td>
			<td>html文档</td>
			<td>html文档</td>
			<td>html文档</td>
		</tr>
	</table>
</body>
</html>