<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        .box{
            width: 350px;
            height: 300px;
            border: 5px solid #cccccc;
            background: #f2dede;
            position: absolute;
            top:0;left:0;bottom: 0;right:0;
            margin: auto;
            opacity: 0.7;
            text-align: center;
            line-height: 40px;
        }
    </style>
</head>
<body>
<div class="box">
    <h2><%=title%></h2>
    <p><%=con%></p>
    <p><a href="<%=url%>">点击返回</a></p>
</div>
</body>
</html>